[class="nav-item"] {
    margin: 0px 1rem;
}

[class="nav-link"] {
    color: black;
}

[class="nav-link"]:hover {
    color: #FA7436;
}

.register:hover {
    background: #FA7436;
    border: none;
    color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FA7436;
    border-color: #FA7436;
}

header{
    background-color: #FEFCFB;
}